.slider-image {
    max-height: 30rem;
    max-width: 30rem;
}

.slider-container {
    max-width: 30rem;
    max-height: 30rem;
    margin: 0 auto;
    padding: 0 $m-size;
    background: rgb(219, 112, 219);
}